# MongoDB Configuration
MONGO_URL=mongodb://user:password@localhost:27017

# Database
DATABASE_NAME=auth_db

# JWT Configuration
JWT_SECRET=your_secret_key_here
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
